.logo.black {
  color: var(--text-black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--text-graphit);
  cursor: pointer;
}

.btn.list {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;
}

.btn.list > li:not(:last-child) {
  margin-right: 8px;
}

.btn .secondary {
  background-color: var(--background-team);

  padding: 6px 22px;
}

.btn .secondary:hover,
.btn .secondary:focus {
  color: var(--text-white);
  background-color: var(--text-blue);
}

.project-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-graphit);
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-grey);
}

.project.list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.project.list > .project-item {
  flex-basis: calc(100% / 3 - 30px);

  margin-left: 30px;
  margin-top: 30px;

  border: 1px solid var(--border-colour);
}

.card-text {
  padding: 20px 24px;
}

.project-heading {
  margin-bottom: 4px;
}

. . .logo.white {
  color: var(--text-white);
}
